# KiCad backup files
*.bak
*.bck
*.kicad_pcb-bak
*.wings~
$*.pro
$*.sch
_autosave-*

# SolidWorks Temp Files
~$*.SLDPRT
~$*.SLDASM

# Project-specific ignores
~$*.xlsx
Electronics/lib.pretty/
Electronics/plots/
Electronics/export/
Code/ButtonTest/button.cpp
Code/ButtonTest/button.h
Code/EncoderTestLibrary/Encoder.h
Code/BeepTest/beep.cpp
Code/BeepTest/beep.h
